version: '3.3'

services:
  robot_array_visualization:
    image: robot_array_visualization:humble
    user: root
    container_name: robot_array_visualization
    build:
      context: ..
      dockerfile: ./dockerfiles/Dockerfile.windows
    volumes:
      - "../:/root/catkin_ws/src/"
    privileged: True
    stdin_open: True
    command: bash